@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Message"]</h1>
<div class="col-lg-12">
    <p>
        <h2 style="background-color:black;color:white;">公司介绍<br /></h2>

        北京市赛思时代传媒文化有限公司简称SIZE传媒，I-SIZE（www.i-size.com）隶属于北京市赛思时代传媒文化有限公司，是一个为都市青年提供全方位运动鞋、潮流衣饰等消费服务的网络平台，集资讯网站的媒体功能和电子商务网站的商务功能为一身，包括及时准确的产品信息、专业体贴的消费服务、真实丰富的产品体验，以及安全便捷的网络购物等多方面内容。<br />

        SIZE传媒创立于1999年，自创立以来一直致力于体育媒体、潮流媒体的经营，主要从事平面媒体的编辑、设计、制作、发行及各类活动的策划与执行。旗下多本平面媒体涉及运动装备、潮流生活、户外运动等多方面内容；深刻影响着中国各层次人群对于体育的理解、运动生活方式及潮流文化的解读，同时对媒体覆盖人群具备强大的消费指导力。

        公司现办公地点位于东南南三环商务区，办公面积近千平米，办公环境宽松舒适。SIZE传媒现有员工近百名，90%的员工拥有本科以上学历。公司自创立以来非常重视人才战略，特别是人才的开发与培养， SIZE传媒崇尚“健康、阳光、严谨、团结”的人文环境，并实行优胜劣汰的考核机制，充分展示员工的个人才华，不拘一格选贤任用。
        公司旗下多家公司，分别主营广告投放、文化产业、公关策划等业务，为各专业精英提供了展示自我能力的平台。<br />

        公司旗下广告公司主要致力于各类广告的承接及宣传，国际知名运动品牌如nike、adidas、Reebok、converse等，国内的著名运动品牌如李宁、安踏、361、匹克等都是公司长年合作伙伴，公司旗下媒体已成为各运动品牌商、潮流服饰品牌、顶极数码装备、极限运动产品等发布新品、推广产品理念和品牌文化的首选。

        公司旗下的文化传媒公司以平面媒体的编辑、设计、制作与发行为主营业务，《SIZE尺码》、《SIZE潮流生活》、《 SIZE户外型者》发行遍布国内各个城市。所辖媒体都保持着业内的独家或领袖地位，具有行业指标水准，并能够引领刊物各层面受众的消费方向。公司自行运营管理的网站WWW.I-SIZE.COM已成为业内颇有影响力的网络平台。<br />

        《SIZE尺码》——全新定义中国SNEAKER文化的标尺；<br />
        国内第一本以传播Sneaker（球鞋）文化为主要内容的潮流杂志，始终保持业内绝对领袖地位。杂志以全面提供当今潮流资讯及发展趋势为宗旨，内容涉及球鞋收藏、球鞋评析及服饰穿搭等多个方面。<br />

        《Sneaker名鞋志》——是一本高端的鞋类杂志；<br />
        《SIZE潮流生活》是中国内地第一本原创的国际化中文潮流月刊，内容聚焦全球先锋潮流人群所关注的以潮流明星、潮流奢侈品及流行的生活方式为主的潮流文化各领域。刊物内容与国际同步接轨，同时还倡导一种追求个性、积极自主、挑战自我的生活态度，为国内不断扩大的先锋潮流人群提供消费生活指南。

        《SIZE潮流生活》——解读品质生活，指导潮流消费；<br />
        《SIZE潮流生活》是中国内地第一本原创的国际化中文潮流月刊，内容聚焦全球先锋潮流人群所关注的以潮流明星、潮流奢侈品及流行的生活方式为主的潮流文化各领域。刊物内容与国际同步接轨，同时还倡导一种追求个性、积极自主、挑战自我的生活态度，为国内不断扩大的先锋潮流人群提供消费生活指南。

        《SIZE户外型者》——引导户外潮流，塑造机能美学；<br />
        国内唯一以体现机能美学为主题的户外刊物，高性能装备和针对人物的完美户外造型贯穿始终。内容聚焦专业户外及泛户外领域的运动项目与相关装备，以各项户外运动中的狂热分子为核心，通过核心人物的实践与挑战，让读者深入体验各项户外运动、极限运动及泛户外生活的魅力，从而鼓励更多爱好者参与其中。

        公司旗下的公关公司主要从事各类广告公关活动的全案策划及执行，立足媒体和受众优势为很多著名企业策划大型公关活动，自身有很好的合作关系和客户资源，目前服务的客户遍布各行各业。<br />

        SIZE传媒将借助良好的社会环境，充分利用多年从事体育文化产业积累的官方资源，在“巩固平媒优势地位，大力发展新媒体”的战略指导下，正在稳步向网络媒体、图书制作、无线移动媒体等多媒体、立体化传媒企业迈进，并努力打造利用各方优势资源兼顾多媒体、公关策划、电子商务、实体店面等多类型经营模式为一体的互动式企业。

        SIZE传媒的发展愿景：<br />
        成为引领潮流文化的最具投资价值的传媒公司。<br />

        SIZE传媒的价值观：<br />
        尊重人性，关爱环境，回报社会。<br />
        SIZE传媒的管理文化：<br />
        兑现每一个承诺；<br />
        履行每一份责任；<br />
        创造每一种可能；<br />
        成就每一位客户。<br />
    </p>
</div>