@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Message"]</h1>

<address>
    联系我们<br />

    给我们发电子邮件<br />
    chinasize@vip.sohu.net

    给我们写信<br />
    北京市朝阳区惠河南街1102号国粹苑A座4068，邮编100124<br />

    给我们打电话或发传真<br />
    9:00 AM to 5:00 PM<br />
    TEL:8610-87152865-电商<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
